@import 'tailwindcss';

@theme {
  --text-2xs: clamp(0.576rem, 0.5796rem + -0.0047vw, 0.5787rem);
  --text-xs: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
  --text-sm: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --text-base: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --text-md: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --text-lg: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --text-xl: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --text-2xl: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --text-3xl: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
  --text-4xl: clamp(2.986rem, 2.5319rem + 2.2705vw, 4.2915rem);
  --text-5xl: clamp(3.5832rem, 2.9636rem + 3.0978vw, 5.3644rem);
  --text-6xl: clamp(4.2998rem, 3.463rem + 4.1838vw, 6.7055rem);

  --font-sans:  'Inter Variable', sans-serif;
  --font-serif: 'Bitter Variable', serif;
  --font-icon: 'Material Symbols Rounded', sans-serif;
}
